*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#text{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    gap:10px;
}
h1{
    letter-spacing: 12px;
}
#CountriesName{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 38px;
    /* gap: 120px; */
    font-size: 14px;
    gap: 30px;
    /* border-radius: 2px; */
    
}
